$font22: 0.44rem;
$font20: 0.40rem;
$font18: 0.32rem;
$font16: 0.28rem;
$font12: 0.24rem;
$font10: 0.20rem;

$height22: 0.44rem;
$height20: 0.40rem;
$height18: 0.32rem;
$height16: 0.28rem;
$height12: 0.24rem;
$height10: 0.20rem;
$height8: 0.16rem;
$height6: 0.12rem;
$height4: 0.08rem;

$mt20: 0.40rem;
$mt18: 0.32rem;
$mt16: 0.28rem;
$mt12: 0.24rem;
$mt10: 0.20rem;
$mt8: 0.16rem;
$mt6: 0.12rem;
$mt4: 0.08rem;
$mt2: 0.04rem;
$mt1: 0.02rem;

$mr20: 0.40rem;
$mr18: 0.32rem;
$mr16: 0.28rem;
$mr12: 0.24rem;
$mr10: 0.20rem;
$mr8: 0.16rem;
$mr6: 0.12rem;
$mr4: 0.08rem;
$mr2: 0.04rem;
$mr1: 0.02rem;

$mb20: 0.40rem;
$mb18: 0.32rem;
$mb16: 0.28rem;
$mb12: 0.24rem;
$mb10: 0.20rem;
$mb8: 0.16rem;
$mb6: 0.12rem;
$mb4: 0.08rem;
$mb2: 0.04rem;
$mb1: 0.02rem;

$ml20: 0.40rem;
$ml18: 0.32rem;
$ml16: 0.28rem;
$ml12: 0.24rem;
$ml10: 0.20rem;
$ml8: 0.16rem;
$ml6: 0.12rem;
$ml4: 0.08rem;
$ml2: 0.04rem;
$ml1: 0.02rem;


